<div class="bg-primary p-a-1" [class.bg-warning]="editing">
    <h5>{{editing  ? "Edit" : "Create"}} Product</h5>
</div>
<div *ngIf="editing" class="p-t-1">
    <button class="btn btn-secondary" 
        [routerLink]="['/form', 'edit', model.getPreviousProductid(product.id)]">
            Previous
    </button>
    <button class="btn btn-secondary"
        [routerLink]="['/form', 'edit', model.getNextProductId(product.id)]">
            Next
    </button>
</div>
<!--<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" >-->
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" >
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" 
               [(ngModel)]="product.name" required />
    </div>

    <div class="form-group">
        <label>Category</label>
        <input class="form-control" name="category" 
               [(ngModel)]="product.category" required />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="price" 
               [(ngModel)]="product.price" 
               required pattern="^[0-9\.]+$" />
    </div>

    <button type="submit" class="btn btn-primary" 
            [class.btn-warning]="editing" [disabled]="form.invalid">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
</form>
